.bg-white {
    background-color: white;
}

.margin_bottom_20 {
    margin-bottom: 20rpx;
}

.margin_top_20 {
    margin-top: 20rpx;
}

.padding_20 {
    padding: 20rpx;
}

.font_12 {
    font-size: 12pt;
}

.font_14 {
    font-size: 14pt;
}

.font_15 {
    font-size: 15pt;
}

.font_16 {
    font-size: 16pt;
}

.font_8 {
    font-size: 10pt;
    color: #999999;
}
.font_7 {
  font-size: 7pt;
  color: #999999;
}
.font_6 {
  font-size: 6pt;
  color: #999999;
}

.blod {
    font-weight: bold;
}

.swiper {
    height: 400rpx;
}

.weui-navbar__slider {
    background-color: #e50150;
}

.weui-navbar__item.weui-bar__item_on {
    color: #e50150;
}

//资讯模块
.zxall {
    .zx {
        height: 200rpx;
        width: 100%;
        //border: 1px solid red;
        display: flex;
        justify-content: space-between;
        .a {
            width: 72%;
            height: 100%;
            .name {
                min-height: 126rpx;
            }
        }
        .b {
            width: 180rpx;
            height: 189rpx;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .sp {
        .aa {
            margin-bottom: 18rpx;
        }
    }
}

// 资讯详情
.detile {
    margin-bottom: 50rpx;
    .name {
        margin-bottom: 10rpx;
    }
    .js {
        margin-bottom: 35rpx;
        span {
            margin-right: 22rpx;
        }
    }
}

.tuij {
    .title {
        height: 55rpx;
        margin-bottom: 4rpx;
        padding: 20rpx;
        line-height: 55rpx;
    }
}

//用户评论
.uiuiui {
    padding: 20rpx;
    //margin-bottom: 35rpx;
    .opop {
        height: auto;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
       // height: 200rpx;
        .a {
            width: 144rpx;
            height: 144rpx;
            margin-right: 20rpx;
            img {
                height: 144rpx;
                width: 144rpx;
            }
        }
        .b {
            span {
                display: block;
            }
        }
        .c {
            width: 114rpx;
            padding-top: 52rpx;
            margin-left: 20rpx;
            img {
                height: 28rpx;
                width: 28rpx;
                margin-right: 10rpx;
            }
        }
    }
}

//发送评论
.bottom_fc {
    position: fixed;
    bottom: -1px;
    left: 0px;
    background-color: white;
    height: 112rpx;
    width: 100%;
    z-index: 9;
    padding-left: 20rpx;
    padding-right: 20rpx;
    padding-top: 20rpx;
    box-sizing: border-box;
    padding-top: 10rpx;
    .bb {
        height: 100%;
        width: 80rpx;
        display: inline-block;
        text-align: center;
        margin-right: 35rpx;
        img {
            display: block;
            width: 44rpx;
            height: 44rpx;
            margin-left: 18rpx
        }
        span {
            display: block;
        }
    }
    .bb-bottom {
        float: right;
        background-color: #e50150;
        color: white;
        display: inline-block;
        height: 70rpx;
        width: 140rpx;
        color: white;
        text-align: center;
        line-height: 70rpx;
        border-radius: 10rpx;
        margin-top: 10rpx;
    }
}

//个人中心
.user {
    background-color: #e50150;
    width: 100%;
    height: 350rpx;
    margin-bottom: 25rpx;
    .a {
        text-align: center;
        position: relative;
        height: 233rpx;
        span {
            position: absolute;
            top: 0rpx;
            left: 0rpx;
            right: 0rpx;
            bottom: 0rpx;
            margin: auto;
            border-radius: 50%;
            height: 200rpx;
            width: 200rpx;
            overflow: hidden;
            img {
                height: 200rpx;
                width: 200rpx;
            }
        }
    }
    .b {
        color: white;
        font-size: 13pt;
        text-align: center;
    }
}

.zxsp {
    background-color: white;
    margin-bottom: 20rpx;
    .zxsp-a {
        border-bottom: 2rpx solid #f5f5f5;
        padding: 20rpx;
        span {
            border-left: 6rpx solid #e50150;
            padding-left: 20rpx;
        }
    }
    .zxsp-b {
        display: flex;
        height: 200rpx;
        overflow: hidden;
        justify-content: space-between;
        .opui {
            height: 100%;
            width: 140rpx;
            padding: 20rpx;
            box-sizing: border-box;
            padding-top: 46rpx;
            img {
                display: block;
                height: 80rpx;
                width: 80rpx;
                margin-left: 13rpx;
                margin-bottom: 8rpx;
            }
            span {
                display: block;
                width: 100%;
                font-size: 10pt;
                color: #666666;
                text-align: center;
            }
        }
        .opui1{
            height: 100%;
            width: 178rpx;
            padding: 20rpx;
            box-sizing: border-box;
            padding-top: 46rpx;
                        img {
                display: block;
                height: 80rpx;
                width: 80rpx;
                margin-left: 33rpx;
                margin-bottom: 8rpx;
            }
            span {
                display: block;
                width: 100%;
                font-size: 10pt;
                color: #666666;
                text-align: center;
            }
        }
    }
}

//个人中心跳转过去的界面。
.fukuan{
  height:90rpx;
  line-height:88rpx;
  font-size:12pt;
  padding-left:10rpx;
  background-color: white;
}
.fukuan_a{
  background-color:white;
  height:220rpx;
  overflow:hidden;
  overflow:hidden;
  padding:10rpx;
  .fukuan_a_1{
    height: 150rpx;
    display: flex;
    justify-content: space-between;
    .a{
        width: 140rpx;
        height: 100%;
        margin-right: 10rpx;
        img{
          height: 140rpx;
          width: 140rpx
        }
    }
    .b{
      color: #666666;
      font-size: 10pt;
    }
    .d{
      line-height: 140rpx;
      text-align: center;
      font-style: 12pt;
      color: red;
      margin-left: 10rpx;
    }
  }
  .c{
    width: 100%;
    overflow: hidden;
    height: 75rpx;
    text-align: right;
    line-height: 75rpx;
    //border-top: 1rpx solid #666666;
    .aa{
      margin-right: 20rpx;
      height: 100%;
      padding: 8rpx 20rpx;
      font-size: 12pt;
      color: white;
      background-color: #31b26b;
    }
    .bb{
      height: 100%;
      padding: 8rpx 20rpx;
      font-size: 12pt;
      color: white;
      background-color: #e5014f;
    }
  }
}
.jfmx{
  height: 140rpx;
  overflow: hidden;
  padding: 15rpx;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rpx;
  .a{

  }
  .b{

  }
}
